@font-face{
    font-family: "flama-light";
    src: url(../fonts/Flama-Light.otf);

}
@font-face{
    font-family: "flama-base";
    src: url(../fonts/Flama-Basic.otf);

}
.g-img
{
    height: 150px !important;
    width: 200px !important;
}
.g-img:hover{
    cursor: pointer;
}
.btn-order
{
    background-color:lightgreen !important;
}
.wow{
    padding: 0%;
}
.gallery
{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    background: url(../img/Water-Background.jpeg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;

}
.text-justify,p{
    text-align: justify;
    color: black !important;
}
.header-text-shadow{
   text-shadow: 2px 2px 6px rgb(0, 183, 255);
   /* box-shadow: -2px -2px 3px gray; */
   padding-left: 10px;
   padding: 5px;

    }
    p{
        font-family: "flama-base";
    }
    .note-txt{
        font-family: "flama-light";
    }
    .box-default>article{
        text-transform: capitalize;
        color: white;
        /* font-family: "flama-light"; */
        word-spacing: 10%;
        word-wrap: break-word;
        text-shadow: 0px 0px 0.5px white,1px 1px 1px gray;
        
        
    }
    .box-default{
    height: 420px !important;
    }
    .product-img{
        max-height:150px !important;
        max-width: 120px !important;
        margin-left: 20%;
    }
    .box-default:hover .product-img{
        box-shadow: 5px 5px 4px gray;
    }
    .btn-order{
        margin-left: 20% !important;
    }
    .g-img:hover{
        box-shadow: 0px 4px 2px 3px white; 
    }
    .lg-toolbar{
        z-index: 111111 !important;
    }
   